{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'partials/_header.html' %}

<h1>Apagar Cliente</h1>
<h5>Você tem certeza que quer apagar o cliente {{cliente.nome}}??</h5>
    <form action="." method="post">
    {% csrf_token %}
        {% form|crispy %}
    <input type="submit" value="Sim">
    <input type="reset" value="Cancelar" onclick="location.href = '{% url 'clientes:list' %}'">
    </form>


{% include 'partials/_footer.html' %}
{% endblock %}

