{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_header.html' %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Detalhar Cliente</h6>
                                </div>
                                <div class="card-body">
                                    <p>Nome: {{cliente.nome}}</p>
                                    <p>CPF: {{cliente.cpf}}</p>
                                    <p>Telefone: {{cliente.telefone}} </p>
                                    <p>CEP: {{cliente.cep}}</p>
                                    <p>Enderço: {{cliente.endereco}}</p>
                                </div>
                            </div>

{% include 'partials/_footer.html' %}
{% endblock %}



